*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width:90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
form>div{
    display: flex;
    gap: 30px;
}
form>div>div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input{
    outline: none;
    border: 1px solid white;
    padding: 5px;

}

button{
    border: 1px solid white;
    background-color: white;
    color: black;
    font-weight: 600;
    width: 100px;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.display-data{
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#err{
    color: red;
    /* visibility: hidden; */
}
li{
    padding: 10px;
    border:1px solid white;
    word-spacing: 25px;
    list-style: none;
    margin: 10px;
    border-radius: 10px;
    width: 70%;
}
.btn{
    margin-left: 20px;
}